<div class="container">
  <h1>Mes entrainements</h1>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Entrainements</button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Historique</button>
    </li>

  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
      <%# <%= user_sport.trainings %>
      <div class="flex-gap-16">

        <% @user_sport.trainings.each do | training |  %>

          <%= link_to training_path(training.id), class: "formbutton btn-secondary link-decoration-none " do %>
            <div class="bloc-16 ">
              <div class="defaultcard">
                <h3><%= training.name %></h3>
              </div>
              <div class="defaultcard">
                <i class="ri-timer-flash-line"></i>
                <h3><%= training.exercices.count %> exercices</h3>
              </div>
            </div>
          <% end %>
        <% end %>
  </div>
    </div>

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
      Historique vide
    </div>

  </div>

</div>
