<div class="head-block-dark">
  <div class="container">
    <%= link_to new_training_training_exercice_path(@training), class: "link-decoration-none" do %>
      <div class="link-head">
        <i class="ri-arrow-left-s-line"></i>
        <h2 class="color-white">Entrainement</h2>
        <div><i class="ri-more-2-line"></i></div>
      </div>
    <% end %>
    <div class="margin-top-16">
      <p class="color-white"><%= @training.name %></p>
      <div class="color-white">
        <%= @training.sport.name %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <p>Description</p>
  <p><%= @training.description %></p>
  <p>Par défaut</p>
  <div class="bloc">
    <div>
    <i class="ri-home-4-line"></i>
    <i class="ri-book-line"></i>
    <i class="ri-pie-chart-line"></i>
    <i class="ri-user-line"></i>
    <i class="ri-arrow-left-s-line"></i>
    <i class="ri-close-line"></i>
    <i class="ri-filter-3-line"></i>
    <i class="ri-more-2-line"></i>
    <i class="ri-search-line"></i>
    </div>

  </div>

</div>
