// Coulors Sportrack
$color-primary: #EBF362;
$color-secondary: #1B1B3A;
$color-tertiary: #B7C3F3;
$color-grey: #F1F1F2;
$color-grey-dark: #AEAEAE;
$color-white: #FFFFFF;
$color-pink_pastel: #FFBFBC;
