@mixin iconrounded {
  height: 32px;
  padding: 8px;
  background: $color-grey;
  border-radius: $radius * 4;
  display: flex;
  align-items: center;
  margin-right: 16px;
}

@mixin container-head {
    padding:  24px;
    border-bottom: 1px solid $color-grey;
}


@mixin headers {
  display: flex;
  align-items: center;
  @include container-head;
  i {
   @include iconrounded;
  }
}
