<div class="nav">

    <div class="linknav">
      <i class="ri-home-4-line"></i>
      <p>Accueil</p>
    </div>

    <div class="linknav">
    <i class="ri-book-line"></i>
    <p>Entrainements</p>
    </div>

    <div class="linknav">
    <i class="ri-pie-chart-line"></i>
    <p></i>Données</p>
    </div>

    <div class="linknav">
    <i class="ri-user-line"></i>
    <p>Profil</p>
    </div>

</div>
