
<div class="container">

  <h1 class="mb-4">Rapport</h1>

  <div class="flex gap">
    <div class="block1">
      <h3 class="mb-2">Nombre <br>d'entrainements</h3>
      <p><%= current_user.trainings.count %></p>
    </div>

    <div class="block2">
      <h3 class="mb-2">Nombre <br>de séances</h3>
      <p><%= current_user.seances.count %></p>
    </div>

  </div>

  <h3 class="mt-4">Nombre d'entrainement</h3>
  <div data-controller="data-user"
      data-data-user-seance-value="<%= @seances_by_dates.to_json %>">
    <canvas data-data-user-target="chart">
    </canvas>
  </div>
</div>
