
<div class="container">

  <div>
    <div>
      <p>Nombre d'entrainement</p><%= current_user.trainings.count %>
    </div>

    <div>
      <p>Nombre de séances</p><%= current_user.seances.count %>
    </div>

    <div>
      <%# <p>Nombre de sport</p><%= current_user.sports.count %> 
    </div>







  </div>



  <h1>Rapport</h1>

  <h3>Nombre d'entrainement</h3>
  <div data-controller="data-user"
      data-data-user-seance-value="<%= @seances_by_dates.to_json %>">
    <canvas data-data-user-target="chart">
    </canvas>
  </div>
</div>
