<div class="container">

  <h3>Bonjour <%= current_user.nick_name %>,</h3>
  <h1>Prêt pour un entrainement ?</h1>

  <%= link_to sports_path, class:"indexcard" do %>
      <h3>Commencez par créer votre premier entrainement</h3>
      <i class="ri-arrow-left-s-line"></i>
  <% end %>
</div>
