.bloc {
  background-color: $color-grey;
  padding: 24px;
  border-radius: 24px;
}

.bloc-16 {
  background-color: $color-grey;
  padding: 16px;
  border-radius: 24px;
}

.defaultcard{
  display: flex;
  align-items: center;
  h3 {
    padding-top: 3px;
  }

  i {
    font-size: 25px;
    margin-right: 10px;
  }
}

.flex-gap-16 {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
