@import "config/_bootstrap_override";


// button card sports
.formbutton {
  width: 100%;
  padding: 16px 24px;
  margin-bottom: 8px;

.sportcard {
  // width: 390px;
  padding: 10px 0px;
}
  justify-content: space-between;
  border-radius: $radius * 1.5;
  border: 1px solid $color-grey;
  background: $color-grey;
  display: flex;
  align-items: center;
  font-family: $Outfit-font;
}

.indexcard {
  padding: 24px;
  display: flex;
  align-items: center;
  background: $color-secondary;
  border-radius: $radius * 3;
  text-decoration: none;
  i {
    height: 32px;
    padding: 8px;
    background: $color-primary;
    border-radius: $radius * 4;
    display: flex;
    align-items: center;
    transform: rotate(180deg);
  }
  h3 {
    color: white!important;
  }
}

.link-decoration-none {
  text-decoration: none;
}

.btn-background-white {
  background-color: white!important;
}
.card_exercice {
  // width: 310px;
  // height: 54px;
  margin-top: 15px;
  padding: 15px 24px;
  justify-content: space-between;
  border-radius: 12px;
  background: var(--grey, #F5F5F6);
  display: flex;
  align-items: center;
}

.card_exercice_select {
  h3 {
    color: white!important;
  }
  .fa-regular {
    color: white!important;
  }
  width: 310px;
  height: 54px;
  margin-top: 20px;
  padding: 15px 24px;
  justify-content: space-between;
  border-radius: 12px;
  background: $color-secondary;
  display: flex;
  align-items: center;
}


.btn_position_bas {
    position: fixed;
    bottom: 100px;
    width: 78%!important;
    /* Ajoutez d'autres styles au besoin */
}


// tab entrainement - historique
.nav-pills, .nav-link, .nav-pills .show > .nav-link {
  width: 100%;
  background-color: $color-grey;
  border-radius: $radius;
  color: $color-secondary;
  font-family: $Outfit-font;

  &:hover {
    color: $color-secondary;
  }

  .nav-link.active {
    background-color: $color-secondary;
  }

}

.nav-item {
  width: 50%;
  border-radius: $radius;
}

.margin-top-0 {
  margin-top: 0px;
}

.margin-auto {
  margin: auto;
}

a {
  text-decoration: none;
}

.search {
    border-radius: $radius;
    text-align: center;
    color: $color-secondary;
    display: inline-block;
      background: $color-primary;
      border: none;
    }

.filter {
  border-radius: $radius;
  text-align: center;
  color: $color-secondary;
  display: inline-block;
    background: $color-grey;
    border: none;
  }
