.head-block-dark {
  background-color: $color-secondary;
  padding: 32px 0px;
}

.head-block-dark {
  background-color: $color-secondary;
}

.color-white {
  color: white!important;
}

.margin-top-16 {
  margin: 16px;
}
