.navprimary {
  border-top: 1px solid $color-grey;
  background: $color-white;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  width: 100%;
  right: 0;
  position: fixed;
  bottom: 0px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .linknav {
    text-align: center;
  }

}
